<!DOCTYPE html>
<html data-theme="luxury">
  <head>
    <title>FtlTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="grid place-items-center h-screen">
      <%= render 'layouts/allerts' %>
      <%= yield %>
    </div>
  </body>
</html>
